.test-wrapper{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.test-container{
    background-color: burlywood;
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
}


.test-symbols{
    font-size: 30px;
}

.timer{
    margin-left: 10px;
}

.question{
    margin-left: 10px;
}